/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

/*__________________________________________________*
|
|             Global Styles (Start)
|*__________________________________________________*/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Poppins&display=swap');

.strong-text {
  -webkit-text-stroke: 0.8px;
}

.theme-text {
  color: #087990;
}

.text-primary {
  color: #11828d !important;
}
.text-primary-2 {
color: #0d6efd;
}

.theme-background {
  background-color: #087990;
}

.pt-sans caption-regular {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans caption-bold {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.head-bold {
  font-weight: "bolder" !important ;
}

/* .body * {
  font-family: 'Times New Roman', Times, serif !important;
} */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.disabled-section * {
  color: #9e9e9e;
}

body {
  -webkit-font-smoothing:  "Poppins", sans-serif !important;
  font-family:  "Poppins", sans-serif !important;;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 4.1rem;
  min-height: 100vh;
}

.palette-pink {
  background-color: #ec5f5f;
}

.palette-yellow {
  background-color: #ffd05b;
}

.palette-pink-text {
  color: #ec5f5f;
}

.palette-pink.btn:hover {
  background-color: #c74f4f;
}

.no-input-border[type=text]{ 
  border: 0;
  border: 1px solid #c74f4f;
  padding-left: 10px;
  outline: 0;
}

.point {
  cursor: pointer;
}

.user-circle {
  position: relative;
  background-color: grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 200%;
  text-align: center;
  margin-right: 10px;
}

.languages:hover {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}
.languages {
  border-radius: 7px;
  padding-left: 7px;
}

.smaller-text {
  font-size: 15px;
}

.primary-text {
color: #077990;
}

.blue-text{
color: #075ad3;
}

.greyed-text{
  color: #4d6384;
}
/*  */

/*________________ Global Styles (End)________________*/


/*====================================================*
|
|             Register (Start)
|*====================================================*/
/*________________ Register (End)_____________________*/

/*====================================================*
|
|             Login (Start)
|*====================================================*/
.login-sidebar {
  background-color: #0aa2c0;
}
/*________________ Login (End)_____________________*/


/*====================================================*
|
|             ViewProject (Start)
|*====================================================*/

.view-project .markdown * {
  max-width: 100%;
}


.view-project .progresses {
  display: flex;
  align-items: center;
}


.view-project .line {

  width: 100px;
  height: 6px;
  /* background: #fd9999; lit pink */
  /* background: #c9c9c9; */
}


.view-project .steps {

  display: flex;
  /* background-color: #a7a6a6; */
  color: #1b1b1b;
  font-size: 14px;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.view-project .steps span {
  margin-bottom: 1.7em;
  font-weight: bold;
  font-size: 12px;
  z-index: +1;
}
/*________________ ViewProject (End)_____________________*/

/*====================================================*
|
|             HomePage (Start)
|*====================================================*/
.banner-img {
  width: 100%;
}

/* .nav-home {
  background-color: #346e9e !important;
} */
.homepage-autocomplete{
  @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 73%; }
  @media (min-width:375px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 76%; }
  @media (min-width:425px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 79%; }
  @media (min-width:530px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 83%; }
  @media (min-width:600px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 85%; }
  @media (min-width:641px)  { /* portrait tablets, portrait iPad */     width: 87% }
  @media (min-width:768px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 82%; }
  @media (min-width:870px)  { /* smartphones, iPhone, portrait 480x320 phones */ width: 85%; }
  @media (min-width:970px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ width: 86%; }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ width: 88%; }
  @media (min-width:1250px) { /* big landscape tablets, laptops, and desktops */ width: 89%; }
  @media (min-width:1363px) { /* hi-res laptops and desktops */ width: 90% }
}

.autocomplete-highlight:hover{
  color: rgb(40, 103, 249);
}


/*====================================================*
|
|             CreatePost (Start)
|*====================================================*/
.create-post .markdown-editor button[class=table] {
  width: 2em;
}

/*====================================================*
|
|             CreateListing (Start)
|*====================================================*/
.create-listing-page .listing-btn {
  color: white;
  font-size: 20px;
  width:300px;
  height:100px;
  border-radius: 20px;
}

/*====================================================*
|
|             CreateRentForm (Start)
|*====================================================*/
.create-rent-form .letterbox-img {
  height: 100px;
  width: 100%;
}
/*________________ ViewProject (End)_____________________*/

/* Produts & Services */

.products-accordions-text {

    /* smartphones, iPhone, portrait 480x320 phones */
    font-size: 15px !important;
}
